@import '../variables';

header {
  padding: 0 $body-margin-border;
  background-color: $light-color;
  color: $dark-color;
  border-bottom: $primary-color 1px solid;

  .header-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
  }

  .header-menu-button {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .header-menu-button {
    display: none;
    width: fit-content;
    cursor: pointer;

    &:hover .meat {
      background-color: $primary-color;
    }

    .meat {
      display: block;
      height: 2.4px;
      width: 22px;
      margin: 5px 0;
      border-radius: 10px;
      background-color: $grey-500;
    }
  }

  .cartNumber {
    color: $light-color;
    background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    font-weight: bold;
    padding: 0 0.35rem;
    font-size: 0.8em;
    margin: 0 0 32px 23px;
  }

  a {
    color: $light-color;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }

  .header-button {
    cursor: pointer;
  }

  .header-button svg {
    fill: $grey-500;
    transition: all 0.3s;
  }

  .header-button:hover svg {
    fill: $primary-color;
  }

  nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .nav-item {
    padding: 0.5rem;
    transition: all 0.3s;
    color: $dark-color;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
      color: $light-color !important;
      text-decoration: none;
      background-color: $primary-color;
    }

    &:hover svg {
      fill: $light-color
    }

    &.nav-all {
      font-weight: 900;
    }

    &.nav-highlighted {
      color: $primary-color;
    }

    .nav-all-icon {
      fill: $dark-color;
      margin-right: 9px;
      transition: all 0.3s;
    }
  }

  @media (max-width: 1000px) {
    .header-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 0.5rem;

      .language-button {
        display: none;
      }

      .header-menu-button {
        display: block;
        cursor: pointer;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }

      .header-logo {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }

      .header-search-bar {
        width: 100%;
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;
      }

      .header-button-container {
        grid-column: 3 / span 2;
        grid-row: 1 / span 1;
        justify-content: end;
      }
    }
  }


  @media (max-width: 1300px) {
    .nav-item-1 {
      display: none !important;
    }
  }

  @media (max-width: 950px) {
    .nav-item-2 {
      display: none !important;
    }
  }

  @media (max-width: 800px) {
    .nav-item-3 {
      display: none !important;
    }

    .header-nav {
      display: none;
    }

    .header-button-container {
      gap: 1rem;
    }
  }

  @media (max-width: 700px) {
    .header-logo svg {
      width: 90%;
      height: auto;
    }
  }
}


