@import '../variables';

.new-section-container {
  padding: $body-margin-border;
  background-color: $light-color;

  .section-title {
    color: $third-color;
  }

  .section-subtitle {
    color: $grey-500;
  }
}

article {
  position: relative;

  &:hover .article-btn-favorite, &:hover .article-btn-add {
    opacity: 1;
  }

  &:hover .article-image {
    transform: scale(1.1);
  }

  .article-title {
    font-size: 1.2rem;
    margin: 0.2rem 0;
    display: block;
  }

  .article-btn-add, .article-btn-favorite {
    border: solid 4px $secondary-color;
    color: $secondary-color;
    fill: $secondary-color;
    position: absolute;
    font-weight: bold;
    backdrop-filter: blur(5px);
    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .article-btn-favorite {
    right: 0;
    top: 0;
    padding: 0;
    border-radius: 50%;
    background-color: $secondary-color;
    border: 0;
    fill: $light-color;

    svg {
      scale: 0.5;
    }
  }

  .article-btn-add {
    left: 48%;
    bottom: 17%;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem 0;

    &:hover {
      background-color: $secondary-color;
      color: $light-color;
      scale: none;
      transform: translate(-50%, -50%) scale(1.05);
    }
  }

  .article-image-container {
    overflow: hidden;
    width: 100%;
    border-radius: $border-radius-low;
    display: block;

    .article-image {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
      object-fit: cover;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: all 0.5s;
    }
  }

  .article-previous-price {
    color: $grey-500;
    text-decoration: line-through;
    font-size: 0.9rem;
    line-height: 1.7rem;
    cursor: default;
  }

  .article-price, .article-price-discount {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: default;
  }

  .article-price-discount {
    color: $secondary-color;
  }

  .article-label-compare {
    color: $grey-500;
  }

  .article-label-image {
    height: 23px;
    width: auto;
    object-fit: cover;
  }
}

.btn-see-more {
  background-color: $third-color;
  color: $light-color;
  width: fit-content;
  align-self: center;
  margin: 2rem 0;
}
