@import '../variables';

.why-choose-section {
  background-color: $light-color;
  padding: var(--margin-body);

  .why-choose-title {
    position: relative;
    margin: var(--margin-body) 0;
    text-wrap: nowrap;

    .why-choose-piles {
      position: absolute;
      fill: $primary-color;
      z-index: 0;
      top: 0;
    }

    h1 {
      z-index: 1;
      padding-bottom: 5px;
      margin-right: 8px;
    }
  }

  .green-card-container {
    margin: var(--margin-body) 0;

    .green-card {

      .green-card-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: $border-radius-image;
        overflow: hidden;
      }

      .green-card-title {
        color: $light-color;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .green-card-logo {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }

      .green-card-text {
        font-weight: 800;
        margin: 0.5rem 0;
      }
    }
  }

  @media(max-width: 800px) {
    .why-choose-title {
      transform: scale(0.8);
    }

    .green-card {
      margin: 1rem 0;
    }

    .green-card span:first-child {
      width: 100%;
    }
  }

  @media(max-width: 800px) {
    .why-choose-title {
      transform: scale(0.6);
    }
  }

  @media(max-width: 700px) {
    .why-choose-title {
      transform: scale(0.5);
    }
  }

  @media(max-width: 500px) {
    .why-choose-title {
      transform: scale(0.4);
    }
  }
}
