@import './variables';

header {
  padding: 1rem;
  background-color: $light-color;
  color: $dark-color;
  border-bottom: $primary-color 1px solid;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navList {
    list-style: none;
    display: flex;

    li {
      margin-left: 1rem;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
