// src/styles/variables.scss
$primary-color: #29AC00;
$secondary-color: #124D00;
$third-color: #E6C1A7;
$success-color: #36B37E;
$danger-color: #FF5630;
$warning-color: #FFAB00;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

$font-family-base: 'Roboto', sans-serif; // Use the Google Font or custom font
