@import '../variables';

.home-container {
  min-height: 100vh;

  main {
    padding: 2rem $body-margin-border;

    .home-hero-section {
      text-align: center;
      margin-bottom: 2rem;

      .home-hero-text {
        width: 55%;
        min-width: 590px;
      }

      .home-header-img {
        width: 40%;
        height: auto;
        border-radius: 40px;
      }

      .home-title {
        color: $primary-color;
        margin-bottom: 0;
        position: relative;

        svg {
          position: absolute;
          filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
          -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
        }

        .home-svg-arrow {
          top: -25px;
          right: -65px;
        }

        .home-svg-circle {
          top: 50px;
          right: 356px;
        }
      }

      .home-subtitle {
        color: $grey-500;
        font-size: $font-size-large;
      }

      .home-subtitle-btn {
        background-color: $third-color;
        color: $light-color;
      }
    }
  }

  .section-signature {
    padding: $body-margin-border;
    background-image: url('../assets/background-signature.jpg');

    h4 {
      color: $light-color;
      text-align: center;
      width: 80%;
        margin: $body-margin-border 0;
    }
  }
}
