@import '../variables';

.home-container {
  min-height: 100vh;

  &.en {
    .home-svg-arrow {
      top: -30px;
      right: -65px;
    }

    .home-svg-circle {
      top: 50px;
      right: 372px;
    }
  }

  &.fr {
    .home-svg-arrow {
      top: -25px;
      right: -65px;
    }

    .home-svg-circle {
      top: 51px;
      right: 394px;
      scale: 1.2;
    }
  }

  &.ko {
    .home-svg-arrow {
      top: -45px;
      right: -114px;
      scale: 0.8;
    }

    .home-svg-circle {
      top: 54px;
      right: 240px;
    }
  }

  &.vn {
    .home-svg-arrow {
      top: -23px;
      right: -31px;
    }

    .home-svg-circle {
      top: 53px;
      right: 371px;
      scale: 1.2;
    }
  }

  main {

    .home-hero-section {
      text-align: center;
      position: relative;
      padding: calc(var(--margin-body) * 2) var(--margin-body);

      .home-video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .home-video {
        object-fit: cover;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .home-hero-text {
        z-index: 1;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));

        h1 {
          text-wrap: nowrap;
        }
      }

      .home-header-img {
        width: 40%;
        height: auto;
        border-radius: 40px;
      }

      .home-title {
        color: $light-color;
        margin-bottom: 0;
        position: relative;
        transition: transform 0.5s ease;

        svg {
          position: absolute;
        }
      }

      .home-subtitle {
        color: $light-color;
        font-size: $font-size-large;
        max-width: 500px;
      }

      .home-subtitle-btn {
        background-color: $third-color;
        color: $light-color;
        padding: 0.7rem 1.7rem;
      }
    }
  }

  .section-signature {
    padding: var(--margin-body);
    background-image: url('../assets/background-signature.jpg');

    h4 {
      color: $light-color;
      text-align: center;
      width: 80%;
      margin: var(--margin-body) 0;
    }
  }

  @media (max-width: 768px) {
    main {
      .home-hero-text {
        gap: 0.3rem;
      }

      .home-title {
        transform: scale(0.8);
      }

      .home-subtitle-btn {
        padding: 1rem 2rem;
        width: 100%;
      }
    }
  }

  @media (max-width: 550px) {
    main {
      .home-title {
        transform: scale(0.6);
      }
    }

    .home-signature {
      transform: scale(0.7);
    }
  }

  @media (max-width: 450px) {
    main {
      .home-title {
        transform: scale(0.5);
      }
    }

    .home-signature {
      transform: scale(0.6);
    }
  }

  @media (max-width: 350px) {
    main {
      .home-title {
        transform: scale(0.4);
      }
    }

    .home-signature {
      transform: scale(0.5);
    }
  }

  @media (max-width: 250px) {
    main {
      .home-title {
        transform: scale(0.3);
      }
    }

    .home-signature {
      transform: scale(0.4);
    }
  }
}
