@import '../variables';

.modifyButton {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #000;
    position: absolute;
    top: 30px;
    left: 61%;
    transform: translateX(-50%);
    object-fit: contain;
    background: #FFFFFF;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
  
    &:hover {
      transform: translateX(-50%) scale(1.1);
    }
}

.orders{
    color: #007bff; /* Couleur du lien */
    text-decoration: underline; /* Souligner le lien */
    transition: transform 0.3s ease; /* Animation pour l'effet de grandissement */
    display: inline-block;

    &:hover {
      transform: scale(1.05); /* Grandir le lien au survol */
      transform-origin: center;
    }
}

.logoutButton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 90%; /* Ajustez cette valeur pour déplacer le bouton vers le haut ou vers le bas */
  left: 50%;
  transform: translateX(-50%); /* Centrer horizontalement */
  transition: transform 0.3s ease;

  &:hover {
    transform: translateX(-50%) scale(1.05); /* Combiner les transformations */
  }
}