.page-container {
  height: 100vh; /* S'assure que la page prend toute la hauteur de la fenêtre */
  width: 100%;
  background-image: url('../assets/login-background.gif'); /* Chemin de l'image */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu */
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3); /* Fond semi-transparent */
  backdrop-filter: blur(10px); /* Effet de flou */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.form-group input:hover,
.form-group select:hover {
  transform: scale(1.02); /* Effet de grossissement au survol */
}

.signup-button {
  width: auto; /* Ajuste la largeur automatiquement en fonction du contenu */
  padding: 10px 20px; /* Ajoute plus de padding pour une meilleure apparence */
  background: linear-gradient(45deg, #4CAF50, #45a049); /* Dégradé de vert */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
  margin: 0 auto; /* Centre horizontalement */
  display: block; /* Assure que le bouton est centré */
}

.signup-button:hover {
  background: linear-gradient(90deg, #45a049, #4CAF50); /* Dégradé de vert inversé */
  transform: scale(1.1);
}

.error-message {
  text-align: center; /* Centrer le texte des erreurs */
  color: red;
}

.name-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espace entre les champs */
}

.name-fields .form-group {
  flex: 1;
}
