// src/styles/variables.scss

// Brand
$primary-color: #29AC00FF;
$secondary-color: #124D00;
$third-color: #E6C1A7;

// Basic
$success-color: #36B37E;
$danger-color: #FF5630;
$warning-color: #FFAB00;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

// Grey
$grey-50: #F5F5F5;
$grey-100: #E6E6E6;
$grey-200: #000000;
$grey-400: #999999;
$grey-500: #666666;
$grey-600: #333333;
$grey-800: #191919;

// Margin and Padding
$body-margin-border: 3rem;
$border-radius-high: 40px;
$border-radius-low: 8px;
$border-radius-image: 8px;
$font-size-large: 1.2rem;
$font-size-medium: 1rem;
$font-size-small: 0.9rem;
