@import '../../variables';

.dialog-content-container {
  background-image: url("../../assets/languages/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 3rem 0 3rem !important;
  width: fit-content !important;

  button {
    cursor: pointer;
    width: 100%;

    &:hover {
      scale: initial;
    }
  }

  .dialog-content {
    background-color: $light-color;
    border-radius: var(--radius-5);
    width: fit-content;


    .option {
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $grey-100;
      }

      &.language-selected {
        border-left: 4px solid $primary-color;
        background-image: linear-gradient(90deg, rgba(41, 172, 0, 0.39), $light-color);
      }

      &.currency-selected {
        border-left: 4px solid $third-color;
        background-image: linear-gradient(90deg, rgba(230, 193, 167, 0.46), $light-color);
      }
    }

    .currency-text {
      color: $third-color;
    }

    .currency-icon {
      height: 30px;
      width: 30px

    }

    .language-text {
      color: $primary-color;
    }
  }

  .dialog-logo {
    margin: 0.5rem 0 0.5rem 0;
  }

  .close-menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    .meat {
      display: block;
      height: 2.4px;
      width: 22px;
      margin: 5px 0;
      border-radius: 10px;
      background-color: $grey-600;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

      &:nth-child(1) {
        transform: rotate(45deg) translateY(5.5px);
      }

      &:nth-child(2) {
        transform: rotate(-45deg) translateY(-5.5px);
      }
    }
  }
}
