@import '../../variables';

.section-container {
  padding: var(--margin-body);
  background-color: $third-color;

  .section-title {
    color: $light-color;
  }

  .section-subtitle {
    color: $grey-500;
  }
}
